/** Styles for the Admin Widget **/
.fm_widget strong.description {
  margin-left: 0;
  padding-left: 0 !important; }

.fm_id {
  display: none; }

.divide {
  border-bottom: 1px dotted #ccc;
  box-shadow: 0 1px 0 #fff;
  width: 100%;
  height: 1px;
  margin: 20px 0 20px 0; }

a img {
  border: none; }

.fm-arrow:before {
  content: "\f140";
  font: 400 20px/1 dashicons;
  vertical-align: middle; }
.fm-arrow.fm-arrow-open {
  box-shadow: 0 1px 10px -5px rgba(0, 0, 0, 0.5); }
  .fm-arrow.fm-arrow-open:before {
    content: "\f142";
    font: 400 20px/1 dashicons;
    vertical-align: middle; }

.fm-option-title {
  cursor: pointer;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
  margin: 0; }

.fm-step-1-options,
.fm-step-2-options,
.fm-step-3-options,
.fm-step-4-options,
.fm-step-5-options {
  display: none;
  padding: 0 10px; }

.fm-step-1,
.fm-step-2,
.fm-step-3,
.fm-step-4,
.fm-step-5 {
  background: #fafafa;
  border: 1px solid #e5e5e5;
  margin-top: 10px;
  padding: 0; }
  .fm-step-1 > h4.fm-option-title,
  .fm-step-2 > h4.fm-option-title,
  .fm-step-3 > h4.fm-option-title,
  .fm-step-4 > h4.fm-option-title,
  .fm-step-5 > h4.fm-option-title {
    background: #e3f4e6; }

.fmcta_image_href {
  height: 30px; }

.fmcta_upload {
  width: 85px !important;
  height: 30px !important;
  vertical-align: top !important;
  text-align: center; }

.fmcta_order {
  padding: 10px;
  text-align: center;
  background: #ccc;
  cursor: move;
  box-sizing: border-box; }
  .fmcta_order:hover {
    background: #ddd; }
  .fmcta_order.fmcta_order_image {
    padding: 50px; }
  .fmcta_order.fmcta_order_description {
    padding: 30px; }

.ui-state-highlight {
  border: 1px dashed orange;
  height: 2em; }

.fmcta-tip {
  font-style: italic;
  vertical-align: middle;
  color: #76c885;
  margin: 10px 0 0 0; }
  .fmcta-tip:before {
    content: "\f339";
    font-family: 'Dashicons', sans-serif;
    font-size: 12px;
    vertical-align: middle;
    margin-right: 5px;
    padding: 5px;
    border-right: 1px solid #9bd6a6;
    font-style: normal;
    border-radius: 50%;
    color: #fff;
    background: #9bd6a6; }
  .fmcta-tip.tip-image {
    display: none; }
